.my_css {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.bg {
  background-color: lightgray;
  padding: 1rem;
}

.my_btn {
  text-align: center;
  align-items: center;
  padding-top: 1rem;
}
